{
  "openapi": "3.0.0",
  "info": {
    "title": "Client Service",
    "description": "User and organization management service for MCPFactory",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://client.mcpfactory.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "RecordAcquisitionResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "recorded": {
            "type": "boolean",
            "description": "true if THIS call wrote the first touch; false if the org already had one (the call is accepted and ignored)."
          },
          "acquisition": {
            "$ref": "#/components/schemas/StoredAcquisition"
          }
        },
        "required": [
          "orgId",
          "recorded",
          "acquisition"
        ]
      },
      "StoredAcquisition": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string"
          },
          "utmSource": {
            "type": "string",
            "nullable": true
          },
          "utmMedium": {
            "type": "string",
            "nullable": true
          },
          "utmCampaign": {
            "type": "string",
            "nullable": true
          },
          "utmContent": {
            "type": "string",
            "nullable": true
          },
          "utmTerm": {
            "type": "string",
            "nullable": true
          },
          "referrer": {
            "type": "string",
            "nullable": true
          },
          "landingPath": {
            "type": "string",
            "nullable": true
          },
          "homepageVariant": {
            "type": "string",
            "nullable": true
          },
          "gclid": {
            "type": "string",
            "nullable": true
          },
          "referralCode": {
            "type": "string",
            "nullable": true
          },
          "firstSeenAt": {
            "type": "string",
            "nullable": true
          },
          "recordedVia": {
            "type": "string",
            "enum": [
              "resolve",
              "org_id",
              "external_ids",
              "absorbed_shell"
            ],
            "description": "Which hand-over recorded it. `absorbed_shell`: recorded on a shell org by an ordinary-signup hand-over, then moved to the org it was absorbed into at claim."
          },
          "recordedAt": {
            "type": "string"
          }
        },
        "required": [
          "channel",
          "utmSource",
          "utmMedium",
          "utmCampaign",
          "utmContent",
          "utmTerm",
          "referrer",
          "landingPath",
          "homepageVariant",
          "gclid",
          "referralCode",
          "firstSeenAt",
          "recordedVia",
          "recordedAt"
        ],
        "description": "The org's first touch as stored — the winner, whichever call wrote it."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "RecordAcquisitionBody": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "orgId": {
                "type": "string",
                "format": "uuid",
                "description": "Internal org uuid (e.g. the one /internal/resolve returned for an anonymous org)."
              },
              "acquisition": {
                "$ref": "#/components/schemas/Acquisition"
              }
            },
            "required": [
              "orgId",
              "acquisition"
            ]
          },
          {
            "type": "object",
            "properties": {
              "externalOrgId": {
                "type": "string",
                "minLength": 1,
                "description": "Identity-provider (Clerk) org id."
              },
              "externalUserId": {
                "type": "string",
                "minLength": 1,
                "description": "Identity-provider (Clerk) user id."
              },
              "acquisition": {
                "$ref": "#/components/schemas/Acquisition"
              }
            },
            "required": [
              "externalOrgId",
              "externalUserId",
              "acquisition"
            ]
          }
        ]
      },
      "Acquisition": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "The channel the dashboard derived, e.g. newsletter, cold_email, paid_search, organic_search, ai_assistant, social, partner, referral, direct, unknown. Free text (no enum), so a channel added later is stored rather than refused. `direct` (no referrer/utm) and `unknown` (no capture at all) are real answers, distinct from an org that has no record."
          },
          "utmSource": {
            "type": "string",
            "nullable": true,
            "maxLength": 512
          },
          "utmMedium": {
            "type": "string",
            "nullable": true,
            "maxLength": 512
          },
          "utmCampaign": {
            "type": "string",
            "nullable": true,
            "maxLength": 512
          },
          "utmContent": {
            "type": "string",
            "nullable": true,
            "maxLength": 512
          },
          "utmTerm": {
            "type": "string",
            "nullable": true,
            "maxLength": 512
          },
          "referrer": {
            "type": "string",
            "nullable": true,
            "maxLength": 2048,
            "description": "External referrer URL."
          },
          "landingPath": {
            "type": "string",
            "nullable": true,
            "maxLength": 2048,
            "description": "Path of the first page landed on."
          },
          "homepageVariant": {
            "type": "string",
            "nullable": true,
            "maxLength": 128,
            "description": "Homepage A/B variant shown."
          },
          "gclid": {
            "type": "string",
            "nullable": true,
            "maxLength": 512,
            "description": "Google Ads click id, when the visit came from an ad click."
          },
          "referralCode": {
            "type": "string",
            "nullable": true,
            "maxLength": 256,
            "description": "Partner / referral link code, when the visit came from one."
          },
          "firstSeenAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the browser first saw the visitor. Untrusted, stored as stated."
          }
        },
        "required": [
          "channel"
        ],
        "description": "An org's first touch, handed over from a browser-derived cookie. Every field is untrusted text, bounded in length; only `channel` is required. Unknown keys are dropped."
      },
      "OrgAcquisitionResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "acquisition": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StoredAcquisition"
              },
              {
                "nullable": true,
                "description": "null = nothing was ever recorded for this org (every org older than first-touch capture). Never defaulted."
              }
            ]
          }
        },
        "required": [
          "orgId",
          "acquisition"
        ]
      },
      "ListAcquisitionsResponse": {
        "type": "object",
        "properties": {
          "orgs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orgId": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string"
                },
                "anonymous": {
                  "type": "boolean",
                  "description": "Came into being without an identity provider (signed-out onboarding)."
                },
                "claimedAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "When an anonymous org was claimed at signup."
                },
                "real": {
                  "type": "boolean",
                  "description": "Same definition as POST /internal/orgs/real: not an anonymous org still awaiting a claim. Split signups on this."
                },
                "acquisition": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StoredAcquisition"
                    },
                    {
                      "nullable": true
                    }
                  ]
                }
              },
              "required": [
                "orgId",
                "name",
                "createdAt",
                "anonymous",
                "claimedAt",
                "real",
                "acquisition"
              ]
            }
          }
        },
        "required": [
          "orgs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "GetUserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "nullable": true
              },
              "firstName": {
                "type": "string",
                "nullable": true
              },
              "lastName": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "email",
              "firstName",
              "lastName"
            ]
          }
        },
        "required": [
          "user"
        ]
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListUsersUser"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "users",
          "total"
        ]
      },
      "ListUsersUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "externalId",
          "email",
          "firstName",
          "lastName",
          "imageUrl",
          "phone",
          "createdAt"
        ]
      },
      "OrgRecordResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "externalId",
          "name"
        ]
      },
      "OrgClaimResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "externalOrgId": {
            "type": "string"
          },
          "claimedAt": {
            "type": "string"
          },
          "alreadyClaimed": {
            "type": "boolean",
            "description": "true when this exact claim had already been made — a retried signup or a replayed request. The answer is the same either way; nothing is created twice."
          },
          "absorbedOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "Present only when a SHELL org was already holding this identity — a row brought into being purely as the side effect of an authenticated read, never declared anonymous, never claimed, holding nothing but the person signing up. It handed the identity over and kept its own uuid and rows. Absent in every other case."
          }
        },
        "required": [
          "orgId",
          "userId",
          "externalOrgId",
          "claimedAt",
          "alreadyClaimed"
        ]
      },
      "OrgClaimRefusal": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "enum": [
              "org_not_found",
              "org_not_anonymous",
              "org_already_claimed",
              "external_id_taken",
              "org_slug_taken",
              "identity_holder_unverifiable",
              "invalid_request",
              "internal_error"
            ]
          }
        },
        "required": [
          "error",
          "reason"
        ]
      },
      "OrgClaimBody": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "The identity-provider organisation id the visitor just created (the Clerk `org_...`)."
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1,
            "description": "The identity-provider user id of the person signing up. They end up attached to the org the way any member is."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "orgName": {
            "type": "string"
          },
          "orgSlug": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      },
      "OrgRealityResponse": {
        "type": "object",
        "properties": {
          "realOrgIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The subset of the submitted ids that name a REAL organisation. Ids that are anonymous-and-unclaimed, ids naming a shell that handed its identity to another org, and ids that name no org at all, are absent."
          }
        },
        "required": [
          "realOrgIds"
        ]
      },
      "OrgRealityBody": {
        "type": "object",
        "properties": {
          "orgIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 500,
            "description": "Internal org uuids to ask about. A domain can be owned by more than one org, so the question is asked for several at once."
          }
        },
        "required": [
          "orgIds"
        ]
      },
      "BrandCheckoutResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "checked_out",
              "not_checked_out",
              "no_org_claims_brand"
            ],
            "description": "`checked_out`: at least one claiming org completed checkout. `not_checked_out`: the brand IS claimed by one or more orgs and none of them completed checkout — a truthful 'nobody paid for this brand'. `no_org_claims_brand`: brand-service reports no org claiming this id (unknown brand, or an unclaimed global brand row), so nobody can have paid on it."
          },
          "checkedOut": {
            "type": "boolean"
          },
          "orgs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgBrandCheckout"
            },
            "description": "One entry per org claiming this brand, each with its own verdict. Empty only when status is `no_org_claims_brand`. The orgs that paid are the entries with `checkedOut: true`."
          }
        },
        "required": [
          "brandId",
          "status",
          "checkedOut",
          "orgs"
        ]
      },
      "OrgBrandCheckout": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "checkedOut": {
            "type": "boolean",
            "description": "True when this org both paid real money in AND committed this brand to spend (per-brand daily budget configured)."
          },
          "reason": {
            "type": "string",
            "enum": [
              "checked_out",
              "no_brand_budget",
              "org_never_paid"
            ],
            "description": "Why the verdict is what it is. `no_brand_budget`: this org set no daily budget for the brand, so it never committed it (reported first — it is the brand-specific miss). `org_never_paid`: the brand is committed but the org has no succeeded Stripe payment."
          },
          "brandDailyBudgetCents": {
            "type": "string",
            "nullable": true,
            "description": "billing-service's stored per-(org, brand) daily spend ceiling, verbatim, or null when this org configured none. Null is a real unset state, never a defaulted zero."
          },
          "orgPayments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgPaymentTotal"
            },
            "description": "Gross paid in per currency, from stripe-service. Empty when the org has no mirrored payments — never a fabricated zero row. Currencies are never summed together."
          }
        },
        "required": [
          "orgId",
          "brandId",
          "checkedOut",
          "reason",
          "brandDailyBudgetCents",
          "orgPayments"
        ]
      },
      "OrgPaymentTotal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Stripe currency code, e.g. 'usd'."
          },
          "amountReceivedCents": {
            "type": "integer",
            "description": "Gross minor units this org paid in, over its `succeeded` Stripe PaymentIntents. Never netted against refunds or lost disputes — a refund does not un-happen the checkout."
          }
        },
        "required": [
          "currency",
          "amountReceivedCents"
        ]
      },
      "OrgTeardownResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "clientService": {
            "type": "object",
            "properties": {
              "orgs": {
                "type": "integer"
              },
              "users": {
                "type": "integer"
              },
              "invites": {
                "type": "integer"
              },
              "rewardTasks": {
                "type": "integer",
                "description": "Reward-task ledger rows removed for this org. The ledger is keyed on the org uuid rather than by FK, so it is cleared explicitly; each state's completions cascade with it."
              }
            },
            "required": [
              "orgs",
              "users",
              "invites",
              "rewardTasks"
            ]
          },
          "billing": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "campaign": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "runs": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "key": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "stripe": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "clerk": {
            "type": "string",
            "enum": [
              "deleted",
              "not_found"
            ]
          },
          "clerkUsers": {
            "type": "object",
            "properties": {
              "deleted": {
                "type": "integer"
              },
              "notFound": {
                "type": "integer"
              }
            },
            "required": [
              "deleted",
              "notFound"
            ]
          }
        },
        "required": [
          "orgId",
          "clientService",
          "billing",
          "campaign",
          "runs",
          "key",
          "stripe",
          "clerk",
          "clerkUsers"
        ]
      },
      "UpstreamErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": [
              "billing",
              "campaign",
              "runs",
              "key",
              "stripe",
              "clerk"
            ]
          },
          "upstreamStatus": {
            "type": "integer"
          },
          "upstreamBody": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "provider",
          "upstreamStatus",
          "upstreamBody"
        ]
      },
      "PublicStatsResponse": {
        "type": "object",
        "properties": {
          "totalOrgs": {
            "type": "integer"
          },
          "totalUsers": {
            "type": "integer"
          },
          "monthlyGrowth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonthlyGrowthEntry"
            }
          }
        },
        "required": [
          "totalOrgs",
          "totalUsers",
          "monthlyGrowth"
        ]
      },
      "MonthlyGrowthEntry": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string"
          },
          "newOrgs": {
            "type": "integer"
          },
          "newUsers": {
            "type": "integer"
          }
        },
        "required": [
          "month",
          "newOrgs",
          "newUsers"
        ]
      },
      "ResolveResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "orgCreated": {
            "type": "boolean"
          },
          "userCreated": {
            "type": "boolean"
          }
        },
        "required": [
          "orgId",
          "userId",
          "orgCreated",
          "userCreated"
        ]
      },
      "ResolveBody": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "orgName": {
            "type": "string"
          },
          "orgSlug": {
            "type": "string",
            "minLength": 1
          },
          "acquisition": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Acquisition"
              },
              {
                "description": "The org's FIRST TOUCH, if the caller knows it. Recorded only when the org has none yet; ignored otherwise, so a later resolve can never move the credit. Same shape as POST /internal/acquisitions."
              }
            ]
          },
          "anonymous": {
            "type": "boolean",
            "description": "This org is coming into being WITHOUT an identity provider — the signed-out phase of onboarding, where the caller mints `externalOrgId` itself. Recorded on the row we CREATE and never re-derived afterwards, because it is what decides whether the org may later be claimed by a real identity. An existing org keeps whatever it already is: a real organisation can never be re-labelled anonymous by a later resolve."
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      },
      "PhoneAccountResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "phone": {
            "type": "string"
          },
          "clerkOrgId": {
            "type": "string"
          },
          "clerkUserId": {
            "type": "string"
          },
          "created": {
            "type": "boolean"
          }
        },
        "required": [
          "orgId",
          "userId",
          "phone",
          "clerkOrgId",
          "clerkUserId",
          "created"
        ]
      },
      "ProvisionPhoneAccountBody": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$"
          }
        },
        "required": [
          "phone"
        ]
      },
      "ValidateInviteResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "inviterOrgName": {
            "type": "string"
          }
        },
        "required": [
          "valid"
        ]
      },
      "ValidateInviteBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "code"
        ]
      },
      "ClaimInviteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "inviterOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "inviterOrgId"
        ]
      },
      "ClaimInviteBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          },
          "inviteeOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "code",
          "inviteeOrgId"
        ]
      },
      "InviteStatusResponse": {
        "type": "object",
        "properties": {
          "signups": {
            "type": "integer",
            "description": "How many orgs have signed up through this org's invite code. Uncapped."
          },
          "code": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "signups",
          "code"
        ]
      },
      "WaitlistRequestResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "position": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "position"
        ]
      },
      "WaitlistRequestBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "brandUrl"
        ]
      },
      "WaitlistPositionResponse": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer"
          }
        },
        "required": [
          "position"
        ]
      },
      "BrandRewardTasksResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Whose ledger this is. Null only when no org claims the brand — there is then nobody to reward."
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "no_org_claims_brand"
            ],
            "description": "`no_org_claims_brand`: brand-service reports no org claiming this id (unknown brand, or an unclaimed global brand row), so no customer can earn on it. It is a determinate answer, not a failure and not a silent nothing-is-due — an upstream we could not reach is a 502 instead."
          },
          "rewardCentsPerTask": {
            "type": "integer"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RewardTask"
            },
            "description": "One entry per CURRENTLY ACTIVE sales funnel of this brand. A funnel switched off is not listed: nobody can refresh numbers on a funnel that is off. Its refresh clock is kept, so switching it back on does not reset anything."
          },
          "rollup": {
            "type": "object",
            "properties": {
              "brand": {
                "$ref": "#/components/schemas/RewardTaskRollup"
              },
              "offers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "offerId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dueCount": {
                      "type": "integer"
                    },
                    "taskCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "offerId",
                    "dueCount",
                    "taskCount"
                  ]
                }
              }
            },
            "required": [
              "brand",
              "offers"
            ],
            "description": "How many children a superior scope has with something due, without restating the children's tasks: a brand page renders `brand`, an offer page renders its entry in `offers`."
          }
        },
        "required": [
          "brandId",
          "orgId",
          "status",
          "rewardCentsPerTask",
          "tasks",
          "rollup"
        ]
      },
      "RewardTask": {
        "type": "object",
        "properties": {
          "taskKey": {
            "type": "string",
            "enum": [
              "sales_funnel_refresh"
            ],
            "description": "Refresh this funnel's own money numbers: its conversion rates, the lifetime revenue of a client won through it, and where it sends people. Every money figure the product shows this customer is computed from them, so stale inputs make every one of them quietly wrong."
          },
          "scope": {
            "$ref": "#/components/schemas/RewardTaskScope"
          },
          "rewardCents": {
            "type": "integer",
            "description": "What completing this task pays the customer, in cents. billing-service grants it; client-service holds no money."
          },
          "due": {
            "type": "boolean",
            "description": "True when the refresh is currently owed."
          },
          "dueAt": {
            "type": "string",
            "description": "The instant this task becomes due — 30 days after its numbers last genuinely changed. While `due` is false it is in the future; when `due` is true it is SINCE WHEN the refresh has been owed."
          },
          "lastCompletedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this task was last completed, or null if never."
          },
          "completedCount": {
            "type": "integer",
            "description": "How many times this task has been completed and paid, ever."
          },
          "contentChangedAt": {
            "type": "string",
            "description": "When this funnel's money content last genuinely changed. The clock the 30 days run from."
          },
          "contentChangedProvenance": {
            "type": "string",
            "enum": [
              "observed",
              "producer_ts"
            ],
            "description": "`observed`: we compared two readings of the numbers and they differed — ours, certain. `producer_ts`: the first time we ever saw this funnel, so the baseline is brand-service's own last-touched timestamp. That timestamp also moves when a funnel is merely switched off or on, so it is an UPPER bound on the real change time: the task comes due no EARLIER than it should, never sooner."
          }
        },
        "required": [
          "taskKey",
          "scope",
          "rewardCents",
          "due",
          "dueAt",
          "lastCompletedAt",
          "completedCount",
          "contentChangedAt",
          "contentChangedProvenance"
        ]
      },
      "RewardTaskScope": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sales_funnel"
            ],
            "description": "The granularity the task belongs to. The first reward task lives on ONE sales funnel of one offer of one brand."
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "offerId": {
            "type": "string",
            "format": "uuid"
          },
          "funnelKey": {
            "type": "string",
            "description": "brand-service's funnel key, e.g. `website_purchases`."
          }
        },
        "required": [
          "type",
          "brandId",
          "offerId",
          "funnelKey"
        ]
      },
      "RewardTaskRollup": {
        "type": "object",
        "properties": {
          "dueCount": {
            "type": "integer"
          },
          "taskCount": {
            "type": "integer"
          }
        },
        "required": [
          "dueCount",
          "taskCount"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/internal/acquisitions": {
      "post": {
        "summary": "Hand over an org's first touch (recorded once, never overwritten)",
        "description": "Records which acquisition channel brought an org. Address the org EITHER by internal uuid (`orgId`, e.g. an anonymous org from /internal/resolve) OR by identity-provider ids (`externalOrgId` + `externalUserId`, an ordinary signup) — the latter resolves the org exactly like /internal/resolve, creating it if it does not exist yet.\n\nFIRST TOUCH WINS. The first hand-over for an org is stored; every later one answers 200 with `recorded: false` and the stored touch, and changes nothing. An anonymous org that is later claimed keeps the touch recorded while it was anonymous: the claim preserves the uuid, and the ordinary-signup hand-over that follows (addressed by the Clerk ids, which now resolve to the same org) is ignored. If an ordinary-signup hand-over landed on a shell before the claim absorbed it, the touch moves to the claiming org only when that org has none.\n\nThe payload is untrusted browser-derived text: every field is length-bounded (400 when exceeded), only `channel` is required.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordAcquisitionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted. `recorded` says whether this call wrote it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordAcquisitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body invalid (unknown org address shape, field over its bound, bad timestamp)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`orgId` names no org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Write failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List orgs created in a window, each with its first touch",
        "description": "Every org created in [createdAfter, createdBefore), newest first, with its first touch (null when never recorded). Shells — rows that handed their identity to another org at claim — are excluded: they were never a signup. Anonymous orgs still awaiting a claim ARE included, flagged `real: false`, so a consumer can count signed-out starts and signups separately. Join payments on `orgId`.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Orgs created at or after this instant."
            },
            "required": true,
            "description": "Orgs created at or after this instant.",
            "name": "createdAfter",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Orgs created strictly before this instant."
            },
            "required": false,
            "description": "Orgs created strictly before this instant.",
            "name": "createdBefore",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Orgs with their first touch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAcquisitionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid createdAfter / createdBefore",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Read failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/acquisition": {
      "get": {
        "summary": "Read one org's first touch",
        "description": "`acquisition: null` means nothing was ever recorded for this org — distinct from a recorded `direct` or `unknown` channel.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The org's first touch, or null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgAcquisitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "orgId is not a uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/users/{userId}": {
      "get": {
        "summary": "Get a user by internal UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/users": {
      "get": {
        "summary": "List users filtered by org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "externalOrgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Users list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}": {
      "get": {
        "summary": "Get an org record (id, external Clerk org id, name) by internal UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Org found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cascade-teardown an org across spend/security producers, Stripe, Clerk, and client-service",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Teardown result (idempotent: re-run reports zero rows)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgTeardownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream producer/provider (billing, campaign, runs, key, stripe-service, or Clerk) failed — fail loud, no partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpstreamErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/claim": {
      "post": {
        "summary": "An org that came into being without an identity provider now has one",
        "description": "The signup wall sits at the END of onboarding. A visitor types their website and walks their entire setup — services, funnels, audiences, conversion rates, offer — signed out, and only then creates an account and pays. That signed-out phase is an ORDINARY organisation: one whose external identity is a throwaway id the dashboard mints instead of an identity-provider id. Brands, funnels, audiences, runs and spend are all written against it exactly as for any customer, because it IS an org.\n\nAt signup the visitor gets a brand-new identity-provider organisation, and everything they built is on the throwaway one. This endpoint says, once, that the two are the same organisation. The internal uuid is UNTOUCHED, so every reference taken before the call still resolves; only the external identity is swapped underneath it. Nothing is copied: there is no cross-service migration on the signup path, and therefore no failure mode that loses a customer's work right after they paid.\n\nIDEMPOTENT. Replaying the exact same claim re-attaches the same person and answers 200 with `alreadyClaimed: true`. A retried signup, or a browser that replays the request, produces neither a second organisation nor an error the customer sees.\n\nIT REFUSES RATHER THAN GUESSES, and each refusal carries its own `reason` so the caller can show the customer a different thing for each: `org_not_found`, `org_not_anonymous` (this org was never a throwaway one), `org_already_claimed` (it already carries a different identity), `external_id_taken` (that identity belongs to another org), `org_slug_taken` (only the identity's slug belongs to another org — a name, not the identity). Anonymity is a fact we RECORDED when the org was created (`anonymous: true` on /internal/resolve), never something inferred by inspecting what the external id looks like — a wrong guess would hand a stranger an organisation.\n\nThis is NOT an org-merge or org-transfer facility. It is the one transition anonymous -> identified, and that narrowness is what makes it safe.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The internal uuid of the anonymous org — the one every brand, funnel, audience, run and cost was written against while the visitor was signed out. It does not change; only the external identity does."
            },
            "required": true,
            "description": "The internal uuid of the anonymous org — the one every brand, funnel, audience, run and cost was written against while the visitor was signed out. It does not change; only the external identity does.",
            "name": "orgId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgClaimBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The org now resolves by its new identity-provider id, and the signing-up person is a member of it. `alreadyClaimed: true` when this was a replay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgClaimResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId or body (`invalid_request`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgClaimRefusal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such org (`org_not_found`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgClaimRefusal"
                }
              }
            }
          },
          "409": {
            "description": "Refused, distinguishably: `org_not_anonymous` (never a throwaway org), `org_already_claimed` (already carries a different identity), `external_id_taken` (that identity belongs to another org), `org_slug_taken` (only the identity's slug belongs to another org — a name, not the identity).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgClaimRefusal"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgClaimRefusal"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/real": {
      "post": {
        "summary": "Which of these organisations are real ones?",
        "description": "An organisation can come into being WITHOUT an identity provider: the signed-out phase of onboarding mints one before anything else exists, and brands, funnels and audiences are written against it exactly as for any customer. Nearly every such walk is abandoned, and the org then stays anonymous and unclaimed forever — a ghost with no person, no signup and no payment behind it.\n\nThis endpoint tells a caller which of the orgs it already holds are REAL. REAL means anything that is not an anonymous org still awaiting a claim: an ordinary org that was never anonymous is real, and an anonymous org that HAS since been claimed is real, because somebody signed up and it is theirs.\n\nBoth facts are recorded by this service — anonymity at creation, on the caller's declaration (`anonymous: true` on /internal/resolve), and the claim at POST /internal/orgs/{orgId}/claim. Neither is ever inferred from what an external org id looks like: the record exists precisely so nobody has to read a prefix, and a wrong guess would hand a stranger an organisation.\n\nThe answer carries NOTHING about an org beyond its id. The caller is typically acting on behalf of a visitor with no account, so no name, external identity or timestamp crosses the boundary — and an id naming no org is simply absent from the answer rather than distinguished, which is the same verdict (nobody real owns it) and leaks nothing about whether the id exists.\n\nFAIL LOUD. A read that could not be performed is a 500, never an empty list: a caller must be able to tell 'none of these are real' from 'we could not find out', or a real customer's domain could be handed away on a defaulted answer.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgRealityBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The subset of the submitted ids that are real organisations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgRealityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body is not { orgIds: uuid[] }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "The read failed. Fail loud — never a defaulted 'none of these are real'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/members/{userId}": {
      "get": {
        "summary": "Check if a user is a member of an org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User is a member of the org"
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User is not a member of the org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/brands/{brandId}/checkout-status": {
      "get": {
        "summary": "Has ANY org gone through checkout for this brand?",
        "description": "Answers, for one brand, whether any organization has actually gone through checkout on it — and which. client-service owns the user journey and sits between brand identity (brand-service) and money (billing-service / stripe-service), so it owns this join; consumers must not reconstruct it.\n\nAn (org, brand) pair counts as CHECKED OUT when BOTH legs hold: (1) MONEY — the org paid real money in (stripe-service reports a positive gross `amount_received` over its succeeded PaymentIntents); (2) BRAND COMMITMENT — the org configured a per-brand daily spend ceiling for THIS brand (a billing-service brand daily-budget row). Stripe carries no brand on any Checkout Session or PaymentIntent in the fleet, so the money leg alone cannot tell one brand from another; the budget leg is what makes the answer brand-specific, and in the product it is written by the post-payment launch step — an onboarding abandoned before paying never reaches it.\n\nBoth legs are read live from their owning service. client-service stores no copy and derives no fallback: an unset budget stays null, an org with no mirrored payments stays unpaid.\n\nThe never-paid case is a truthful 200, never a 404: `not_checked_out` means the brand IS claimed by orgs and none of them paid, while `no_org_claims_brand` means brand-service reports no org claiming this id at all (unknown brand, or an unclaimed global brand row).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "brandId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand checkout status across every org claiming the brand",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "brandId is not a valid UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream owner (brand-service, billing-service or stripe-service) failed. Fail loud — never a partial or defaulted verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/brands/{brandId}/checkout-status": {
      "get": {
        "summary": "Has THIS org gone through checkout for this brand?",
        "description": "Single-pair verdict, same definition of 'checked out' as GET /internal/brands/{brandId}/checkout-status: the org must have paid real money in AND configured a per-brand daily spend ceiling for this brand.\n\nUse this when the caller already knows which org to ask about — it skips the brand-service membership lookup entirely. Because no brand lookup happens, this route cannot report `no_org_claims_brand`: an (org, brand) pair with no evidence returns `checkedOut: false` with the reason that applies.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "brandId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout verdict for this (org, brand) pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBrandCheckout"
                }
              }
            }
          },
          "400": {
            "description": "orgId or brandId is not a valid UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream owner (billing-service or stripe-service) failed. Fail loud — never a partial or defaulted verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/by-external/{externalOrgId}": {
      "delete": {
        "summary": "Cascade-teardown an org by its external Clerk org id (resolves external_id -> internal UUID read-only, 404 if unknown)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "externalOrgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Teardown result (idempotent: re-run reports zero rows)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgTeardownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid externalOrgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No org found for the given external id (nothing created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream producer/provider (billing, campaign, runs, key, stripe-service, or Clerk) failed — fail loud, no partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpstreamErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/stats/users": {
      "get": {
        "summary": "Get platform-wide stats (total orgs, users, monthly growth)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/resolve": {
      "post": {
        "summary": "Resolve external org/user IDs to internal UUIDs (idempotent upsert)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/phone-accounts": {
      "post": {
        "summary": "Provision (or return) a full signup-equivalent account for a phone number — idempotent per phone",
        "description": "Turns an unauthenticated phone number into a first-class platform account: creates a Clerk user keyed on a synthetic placeholder email (NOT the phone — Clerk's phone identifier is globally country-restricted, e.g. France/+33) + Clerk organization, maps them to internal UUIDs, persists the phone as the channel's mapping key, and triggers billing-service's welcome path (welcome credit + Stripe customer). Works for any country's phone. Idempotent per phone: a repeat call returns the existing identity with created=false and no side effects. Claimable later on the dashboard by linking the person's real email/OAuth to the same Clerk user.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionPhoneAccountBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account resolved (created=false) or newly provisioned (created=true)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone (not E.164)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider (Clerk or billing-service) failed — fail loud, no partial account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Resolve a KNOWN phone number to its account identity (never creates)",
        "description": "Read-only lookup: resolves a phone number to its existing org/user identity. 404 when no account exists for the phone (use POST to provision).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\+[1-9]\\d{6,14}$"
            },
            "required": true,
            "name": "phone",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Account identity for the phone (created=false)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing phone (not E.164)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No account exists for the phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/invites/validate": {
      "post": {
        "summary": "Validate an invite code (slug + cap check)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInviteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result (valid=false means no org owns this code — there is no cap)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateInviteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/invites/claim": {
      "post": {
        "summary": "Claim an invite code for a freshly-created org (idempotent) and tell billing-service who referred whom",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimInviteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite claimed (or already claimed by same invitee)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimInviteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown invite code or invitee org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Invite recorded but billing-service could not be notified — retry the same claim (idempotent; it will re-send the notification and not duplicate it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/invites/status": {
      "get": {
        "summary": "Get invite usage status for an org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/waitlist/request-access": {
      "post": {
        "summary": "Request waitlist access (idempotent on email)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitlistRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Waitlist entry created or existing position returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/waitlist/position": {
      "get": {
        "summary": "Get waitlist position for an email",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": true,
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Position found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistPositionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Email not on waitlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/brands/{brandId}/reward-tasks": {
      "get": {
        "summary": "The reward tasks of this brand's sales funnels: what is due, since when, and when it was last done",
        "description": "client-service owns the customer's reward-task ledger, because it is the identity root and nothing else in the fleet remembers this. The ledger is layered: BRONZE is what brand-service actually served us for a funnel, SILVER is the canonical per-task state derived from it, GOLD is the view this endpoint answers from.\n\nThe first granularity is the SALES FUNNEL and the first task is `sales_funnel_refresh`. A funnel's own money numbers — its conversion rates, the lifetime revenue of a client won through it, its destination and booking links — go stale, and every money figure the product shows that customer is computed from them, so we ask for a refresh roughly every 30 days. Completing one pays the customer $1.\n\nHOW A REAL REFRESH IS TOLD FROM A NO-OP. brand-service serves a last-touched timestamp with those numbers, but it is NOT a confirmation: it also moves when a funnel is merely switched off or back on, with nobody having looked at a single number. So a completion is judged on the money CONTENT itself — a fingerprint over the rates, the lifetime revenue and the links, with `active` and the timestamp deliberately excluded. Switching a funnel off and on again therefore completes nothing and pays nothing.\n\nTHIS READ OBSERVES, and there is no background job. The customer is on the funnel's page when they save their numbers and the dashboard re-reads this immediately after, so the read that matters always happens; a sweep nobody reads would be worse than none. A refresh that completes a task is paid inside this call — client-service tells billing-service, on the request path, and writes its delivery marker only once billing acknowledges, so a failed notification retries on the next call and a repeat never pays twice. client-service grants no credit and opens no promise: the money is billing's.\n\nFail loud everywhere: an upstream that could not answer is a 502, never a defaulted 'nothing is due'.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "brandId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Whose reward ledger to read. Optional when exactly one org claims the brand; REQUIRED when several do — we will not guess whose money a reward is."
            },
            "required": false,
            "description": "Whose reward ledger to read. Optional when exactly one org claims the brand; REQUIRED when several do — we will not guess whose money a reward is.",
            "name": "x-org-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "This brand's sales-funnel reward tasks, with per-offer and per-brand due counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandRewardTasksResponse"
                }
              }
            }
          },
          "400": {
            "description": "brandId is not a valid UUID, x-org-id is not a valid UUID, or several orgs claim the brand and none was named (`ORG_REQUIRED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream owner failed: brand-service could not serve the offers or funnels, or billing-service could not be told about a completion. Never a partial or defaulted answer — a completion that billing has not acknowledged stays undelivered and retries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}