{
  "openapi": "3.0.0",
  "info": {
    "title": "Client Service",
    "description": "User and organization management service for MCPFactory",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://client.mcpfactory.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "GetUserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "nullable": true
              },
              "firstName": {
                "type": "string",
                "nullable": true
              },
              "lastName": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "email",
              "firstName",
              "lastName"
            ]
          }
        },
        "required": [
          "user"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListUsersUser"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "users",
          "total"
        ]
      },
      "ListUsersUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "externalId",
          "email",
          "firstName",
          "lastName",
          "imageUrl",
          "phone",
          "createdAt"
        ]
      },
      "OrgRecordResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "externalId",
          "name"
        ]
      },
      "BrandCheckoutResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "checked_out",
              "not_checked_out",
              "no_org_claims_brand"
            ],
            "description": "`checked_out`: at least one claiming org completed checkout. `not_checked_out`: the brand IS claimed by one or more orgs and none of them completed checkout — a truthful 'nobody paid for this brand'. `no_org_claims_brand`: brand-service reports no org claiming this id (unknown brand, or an unclaimed global brand row), so nobody can have paid on it."
          },
          "checkedOut": {
            "type": "boolean"
          },
          "orgs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgBrandCheckout"
            },
            "description": "One entry per org claiming this brand, each with its own verdict. Empty only when status is `no_org_claims_brand`. The orgs that paid are the entries with `checkedOut: true`."
          }
        },
        "required": [
          "brandId",
          "status",
          "checkedOut",
          "orgs"
        ]
      },
      "OrgBrandCheckout": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "checkedOut": {
            "type": "boolean",
            "description": "True when this org both paid real money in AND committed this brand to spend (per-brand daily budget configured)."
          },
          "reason": {
            "type": "string",
            "enum": [
              "checked_out",
              "no_brand_budget",
              "org_never_paid"
            ],
            "description": "Why the verdict is what it is. `no_brand_budget`: this org set no daily budget for the brand, so it never committed it (reported first — it is the brand-specific miss). `org_never_paid`: the brand is committed but the org has no succeeded Stripe payment."
          },
          "brandDailyBudgetCents": {
            "type": "string",
            "nullable": true,
            "description": "billing-service's stored per-(org, brand) daily spend ceiling, verbatim, or null when this org configured none. Null is a real unset state, never a defaulted zero."
          },
          "orgPayments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgPaymentTotal"
            },
            "description": "Gross paid in per currency, from stripe-service. Empty when the org has no mirrored payments — never a fabricated zero row. Currencies are never summed together."
          }
        },
        "required": [
          "orgId",
          "brandId",
          "checkedOut",
          "reason",
          "brandDailyBudgetCents",
          "orgPayments"
        ]
      },
      "OrgPaymentTotal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Stripe currency code, e.g. 'usd'."
          },
          "amountReceivedCents": {
            "type": "integer",
            "description": "Gross minor units this org paid in, over its `succeeded` Stripe PaymentIntents. Never netted against refunds or lost disputes — a refund does not un-happen the checkout."
          }
        },
        "required": [
          "currency",
          "amountReceivedCents"
        ]
      },
      "OrgTeardownResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "clientService": {
            "type": "object",
            "properties": {
              "orgs": {
                "type": "integer"
              },
              "users": {
                "type": "integer"
              },
              "invites": {
                "type": "integer"
              }
            },
            "required": [
              "orgs",
              "users",
              "invites"
            ]
          },
          "billing": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "campaign": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "runs": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "key": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "stripe": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "clerk": {
            "type": "string",
            "enum": [
              "deleted",
              "not_found"
            ]
          },
          "clerkUsers": {
            "type": "object",
            "properties": {
              "deleted": {
                "type": "integer"
              },
              "notFound": {
                "type": "integer"
              }
            },
            "required": [
              "deleted",
              "notFound"
            ]
          }
        },
        "required": [
          "orgId",
          "clientService",
          "billing",
          "campaign",
          "runs",
          "key",
          "stripe",
          "clerk",
          "clerkUsers"
        ]
      },
      "UpstreamErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": [
              "billing",
              "campaign",
              "runs",
              "key",
              "stripe",
              "clerk"
            ]
          },
          "upstreamStatus": {
            "type": "integer"
          },
          "upstreamBody": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "provider",
          "upstreamStatus",
          "upstreamBody"
        ]
      },
      "PublicStatsResponse": {
        "type": "object",
        "properties": {
          "totalOrgs": {
            "type": "integer"
          },
          "totalUsers": {
            "type": "integer"
          },
          "monthlyGrowth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonthlyGrowthEntry"
            }
          }
        },
        "required": [
          "totalOrgs",
          "totalUsers",
          "monthlyGrowth"
        ]
      },
      "MonthlyGrowthEntry": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string"
          },
          "newOrgs": {
            "type": "integer"
          },
          "newUsers": {
            "type": "integer"
          }
        },
        "required": [
          "month",
          "newOrgs",
          "newUsers"
        ]
      },
      "ResolveResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "orgCreated": {
            "type": "boolean"
          },
          "userCreated": {
            "type": "boolean"
          }
        },
        "required": [
          "orgId",
          "userId",
          "orgCreated",
          "userCreated"
        ]
      },
      "ResolveBody": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "orgName": {
            "type": "string"
          },
          "orgSlug": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      },
      "PhoneAccountResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "phone": {
            "type": "string"
          },
          "clerkOrgId": {
            "type": "string"
          },
          "clerkUserId": {
            "type": "string"
          },
          "created": {
            "type": "boolean"
          }
        },
        "required": [
          "orgId",
          "userId",
          "phone",
          "clerkOrgId",
          "clerkUserId",
          "created"
        ]
      },
      "ProvisionPhoneAccountBody": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$"
          }
        },
        "required": [
          "phone"
        ]
      },
      "ValidateInviteResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "inviterOrgName": {
            "type": "string"
          }
        },
        "required": [
          "valid"
        ]
      },
      "ValidateInviteBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "code"
        ]
      },
      "ClaimInviteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "inviterOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "inviterOrgId"
        ]
      },
      "ClaimInviteCappedResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "used": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "error",
          "used",
          "total"
        ]
      },
      "ClaimInviteBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1
          },
          "inviteeOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "code",
          "inviteeOrgId"
        ]
      },
      "InviteStatusResponse": {
        "type": "object",
        "properties": {
          "used": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "expired": {
            "type": "boolean"
          }
        },
        "required": [
          "used",
          "total",
          "code",
          "expired"
        ]
      },
      "WaitlistRequestResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "position": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "position"
        ]
      },
      "WaitlistRequestBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "brandUrl"
        ]
      },
      "WaitlistPositionResponse": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer"
          }
        },
        "required": [
          "position"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/users/{userId}": {
      "get": {
        "summary": "Get a user by internal UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/users": {
      "get": {
        "summary": "List users filtered by org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "externalOrgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Users list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}": {
      "get": {
        "summary": "Get an org record (id, external Clerk org id, name) by internal UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Org found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cascade-teardown an org across spend/security producers, Stripe, Clerk, and client-service",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Teardown result (idempotent: re-run reports zero rows)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgTeardownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream producer/provider (billing, campaign, runs, key, stripe-service, or Clerk) failed — fail loud, no partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpstreamErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/members/{userId}": {
      "get": {
        "summary": "Check if a user is a member of an org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User is a member of the org"
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User is not a member of the org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/brands/{brandId}/checkout-status": {
      "get": {
        "summary": "Has ANY org gone through checkout for this brand?",
        "description": "Answers, for one brand, whether any organization has actually gone through checkout on it — and which. client-service owns the user journey and sits between brand identity (brand-service) and money (billing-service / stripe-service), so it owns this join; consumers must not reconstruct it.\n\nAn (org, brand) pair counts as CHECKED OUT when BOTH legs hold: (1) MONEY — the org paid real money in (stripe-service reports a positive gross `amount_received` over its succeeded PaymentIntents); (2) BRAND COMMITMENT — the org configured a per-brand daily spend ceiling for THIS brand (a billing-service brand daily-budget row). Stripe carries no brand on any Checkout Session or PaymentIntent in the fleet, so the money leg alone cannot tell one brand from another; the budget leg is what makes the answer brand-specific, and in the product it is written by the post-payment launch step — an onboarding abandoned before paying never reaches it.\n\nBoth legs are read live from their owning service. client-service stores no copy and derives no fallback: an unset budget stays null, an org with no mirrored payments stays unpaid.\n\nThe never-paid case is a truthful 200, never a 404: `not_checked_out` means the brand IS claimed by orgs and none of them paid, while `no_org_claims_brand` means brand-service reports no org claiming this id at all (unknown brand, or an unclaimed global brand row).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "brandId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand checkout status across every org claiming the brand",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "brandId is not a valid UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream owner (brand-service, billing-service or stripe-service) failed. Fail loud — never a partial or defaulted verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/brands/{brandId}/checkout-status": {
      "get": {
        "summary": "Has THIS org gone through checkout for this brand?",
        "description": "Single-pair verdict, same definition of 'checked out' as GET /internal/brands/{brandId}/checkout-status: the org must have paid real money in AND configured a per-brand daily spend ceiling for this brand.\n\nUse this when the caller already knows which org to ask about — it skips the brand-service membership lookup entirely. Because no brand lookup happens, this route cannot report `no_org_claims_brand`: an (org, brand) pair with no evidence returns `checkedOut: false` with the reason that applies.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "brandId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout verdict for this (org, brand) pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBrandCheckout"
                }
              }
            }
          },
          "400": {
            "description": "orgId or brandId is not a valid UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream owner (billing-service or stripe-service) failed. Fail loud — never a partial or defaulted verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/by-external/{externalOrgId}": {
      "delete": {
        "summary": "Cascade-teardown an org by its external Clerk org id (resolves external_id -> internal UUID read-only, 404 if unknown)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "externalOrgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Teardown result (idempotent: re-run reports zero rows)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgTeardownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid externalOrgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No org found for the given external id (nothing created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream producer/provider (billing, campaign, runs, key, stripe-service, or Clerk) failed — fail loud, no partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpstreamErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/stats/users": {
      "get": {
        "summary": "Get platform-wide stats (total orgs, users, monthly growth)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/resolve": {
      "post": {
        "summary": "Resolve external org/user IDs to internal UUIDs (idempotent upsert)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/phone-accounts": {
      "post": {
        "summary": "Provision (or return) a full signup-equivalent account for a phone number — idempotent per phone",
        "description": "Turns an unauthenticated phone number into a first-class platform account: creates a Clerk user keyed on a synthetic placeholder email (NOT the phone — Clerk's phone identifier is globally country-restricted, e.g. France/+33) + Clerk organization, maps them to internal UUIDs, persists the phone as the channel's mapping key, and triggers billing-service's welcome path (welcome credit + Stripe customer). Works for any country's phone. Idempotent per phone: a repeat call returns the existing identity with created=false and no side effects. Claimable later on the dashboard by linking the person's real email/OAuth to the same Clerk user.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionPhoneAccountBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account resolved (created=false) or newly provisioned (created=true)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone (not E.164)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider (Clerk or billing-service) failed — fail loud, no partial account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Resolve a KNOWN phone number to its account identity (never creates)",
        "description": "Read-only lookup: resolves a phone number to its existing org/user identity. 404 when no account exists for the phone (use POST to provision).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\+[1-9]\\d{6,14}$"
            },
            "required": true,
            "name": "phone",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Account identity for the phone (created=false)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing phone (not E.164)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No account exists for the phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/invites/validate": {
      "post": {
        "summary": "Validate an invite code (slug + cap check)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInviteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result (valid=false covers unknown-slug and capped-org)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateInviteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/invites/claim": {
      "post": {
        "summary": "Claim an invite code for a freshly-created org (idempotent)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimInviteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite claimed (or already claimed by same invitee)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimInviteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown invite code or invitee org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Invite cap reached (3 successful signups already)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimInviteCappedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/orgs/{orgId}/invites/status": {
      "get": {
        "summary": "Get invite usage status for an org",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid orgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/waitlist/request-access": {
      "post": {
        "summary": "Request waitlist access (idempotent on email)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitlistRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Waitlist entry created or existing position returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/waitlist/position": {
      "get": {
        "summary": "Get waitlist position for an email",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": true,
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Position found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistPositionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Email not on waitlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}